In [1]:
import os
os.listdir()

['.idea',
 'app1.py',
 'content.txt',
 'data.json',
 'file1.txt',
 'file2.txt',
 'file3.txt',
 'fruits.txt',
 'interactive-dictionary.py',
 'numbers.txt',
 'password_check.py',
 'section2-lecture50.py',
 'section2-lecture55.py',
 'section2-lexture41.py',
 'section2-lexture48.py',
 'section3-lecture69.py',
 'section3-lecture71.py',
 'temperatures.txt',
 'test.py',
 'supermarkets.json',
 'supermarkets-semi-colons.txt',
 'supermarkets-commas.txt',
 'supermarkets.xlsx',
 'supermarkets.csv',
 'Untitled.ipynb',
 '.ipynb_checkpoints']

In [6]:
import pandas

In [8]:
df1 = pandas.read_csv('supermarkets.csv')
df1.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df2 = pandas.read_json('supermarkets.json')
df2.set_index('ID')

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [14]:
df3 = pandas.read_excel('supermarkets.xlsx', sheet_name=0)
df3.set_index('ID')

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df4 = pandas.read_csv('supermarkets-commas.txt')
df4.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
df5 = pandas.read_csv('supermarkets-semi-colons.txt', sep=';') # use sep parameter to pass delimiter character
df5.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
# read directly from URL
df6 = pandas.read_csv('http://pythonhow.com/supermarkets.csv')
df6.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [26]:
# label based accessing of data using df.loc method
df6.loc["2":"3","Address":"Country"]

        Address           City             State Country
2   332 Hill St  San Francisco  California 94114     USA
3  3995 23rd St  San Francisco          CA 94114     USA

In [28]:
# index based accessing of data using df.iloc method
df6.iloc[1:3,1:3] # note that with label based indexing the last value is included - not with index based

          Address           City
1  735 Dolores St  San Francisco
2     332 Hill St  San Francisco

In [29]:
# accessing data with a combination of labels and indexes using df.ix method
df6.ix[3,"Adress":"Employees"]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

KeyError: 'Adress'