In [7]:
import pandas

In [8]:
# read directly from URL
df6 = pandas.read_csv('http://pythonhow.com/supermarkets.csv')
df6.set_index('ID')

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df6['geo_address'] = df6['Address'] + ', ' + df6['City'] + ', ' + df6['State'] + ', ' + df6['Country']
df6

,ID,Address,City,State,Country,Name,Employees,geo_address
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [10]:
from geopy.geocoders import ArcGIS

In [11]:
nom = ArcGIS()

In [13]:
df6['Coordinate'] = df6['Address'].apply(nom.geocode)
df6

,ID,Address,City,State,Country,Name,Employees,geo_address,Coordinate
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(Travessa da Santa 21, 4740-451, Santa, Espose..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(State Line, Dove Creek, Colorado, 81324, (37...."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(Hill Street, Connaught, (53.88333000000006, -..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995, (-38.59904999999998, 145.59612307800012))"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(Sanchez, (19.230720000000076, -69.61298999999..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(Alvarados, Zacatecas, (23.382180000000062, -1..."

In [15]:
df6['Latitude'] = df6['Coordinate'].apply(lambda x: x.latitude if x != None else None)
df6['Longitude'] = df6['Coordinate'].apply(lambda y: y.longitude if y != None else None)
df6

,ID,Address,City,State,Country,Name,Employees,geo_address,Coordinate,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(Travessa da Santa 21, 4740-451, Santa, Espose...",41.609561,-8.736953
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(State Line, Dove Creek, Colorado, 81324, (37....",37.654792,-109.041960
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(Hill Street, Connaught, (53.88333000000006, -...",53.883330,-8.083330
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995, (-38.59904999999998, 145.59612307800012))",-38.599050,145.596123
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(Sanchez, (19.230720000000076, -69.61298999999...",19.230720,-69.612990
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(Alvarados, Zacatecas, (23.382180000000062, -1...",23.382180,-102.396070